<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/image/bootStrap.css"/>
</head>

<body>
<div class="container" align="center">
    <div class="jumbotron">
        <img src="../static/image/images (1).jpg" class="img-rounded" alt="Cinque Terre" width="600" height="300" alig="center"/>
        <h1 align="center"><b>Corn Bread Recipe</b></h1>
    </div>
</div>
    <div class="container">
            <div class="bs-callout bs-callout-success">
                <table class="table table-striped">
                    <caption> <h2><b>Ingredients</b></h2></caption>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Ingredient Quntity</th>
                        <th>Description</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>6 tbsp</td>
                        <td>Unsalted butter, melted, plus butter for baking dish</td>

                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>1 cup</td>
                        <td>Cornmeal</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>3/4</td>
                        <td>Sugar</td>


                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>1 1/2 tbsp</td>
                        <td> Baking powder</td>

                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>1/2 tbsp</td>
                        <td>Baking soda</td>

                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>1/4 tbsp.</td>
                        <td>Salt</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>2 egg.</td>
                        <td>Large eggs, lightly beaten</td>

                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>1 1/2 cup.</td>
                        <td>Buttermilk</td>

                    </tr>
                    </tbody>
             </table>
    </div>
</div>
<div class="container">
    <div class="bs-callout bs-callout-success">
        <h2><b>Directions:</b></h2>
        <div class="well well-lg">

            <p>Preheat the oven to 425 degrees F. Lightly grease an 8-inch baking dish.In a large bowl, mix together the cornmeal, flour, sugar, baking powder, baking soda, and salt.
                In a separate bowl, mix together the eggs, buttermilk, and butter. Pour the buttermilk mixture into the cornmeal mixture and fold together until
                there are no dry spots (the batter will still be lumpy). Pour the batter into the prepared baking dish.Bake until the top is golden brown and tester inserted into
                the middle of the corn bread comes out clean, about 20 to 25 minutes. Remove the cornbread from the oven and let it cool for 10 minutes before serving.
            </p>


        </div>
    </div>
</div>

</body>
</html>