<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <link rel="stylesheet" href="../image/bootStrap.css"/>
</head>
<body>
<div class="container" align="center">
    <div class="jumbotron">

        <img src="../image/CrabCakes10.jpg" class="img-rounded" alt="Cinque Terre" width="600" height="300" alig="center"/>
        <h1 align="center"><b>Welcome to Crab Cake Recipe</b></h1>
    </div>
</div>
<div class="container">
    <div class="bs-callout bs-callout-success">

        <table class="table table-striped">
            <caption> <h2><b>Ingredients</b></h2></caption>
            <thead>
            <tr>
                <th>#</th>
                <th>Ingredient Quntity</th>
                <th>Description</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>1 lb</td>
                <td>Jumbo lump or backfin crab meat</td>

            </tr>
            <tr>
                <th scope="row">2</th>
                <td>2 slices</td>
                <td>Bread or bread crumbs</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>1 tbsp.</td>
                <td>Mayonnaise (light or regular)</td>


            </tr>
            <tr>
                <th scope="row">4</th>
                <td>2 tbsp.</td>
                <td>Dijon mustard</td>

            </tr>
            <tr>
                <th scope="row">5</th>
                <td>1 tbsp.</td>
                <td>Old Bay seasoning</td>

            </tr>
            <tr>
                <th scope="row">6</th>
                <td>1 tbsp.</td>
                <td>Snipped parsley</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>1 egg.</td>
                <td>Substitute for special diets</td>

            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Sauce cock.</td>
                <td>Tartar sauce or cocktail sauce</td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container">
    <div class="bs-callout bs-callout-success">
        <h2><b>Directions:</b></h2>

        <div class="well well-lg">
            <p>Beat the egg in a bowl. Trim the crusts from the bread and break the slices into small pieces.
                Add these pieces to the egg. Mix in the mayonnaise, Dijon mustard, Chesapeake seasoning and parsley, and beat well.</p>
            <p>Place the crabmeat in a bowl and pour the egg mixture over the top. Gently toss or fold the ingredients
                together, taking care not to break up the lumps of crabmeat.</p>
            <p>Form the cakes by hand into patties about 3 inches around and 3/4-inch thick. Shape should be like a cookie, not like a meatball or golf ball.
                Place the cakes in the refrigerator for at least 45 minutes before cooking. This is very important so the cakes don't fall apart.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="bs-callout bs-callout-success">
        <h2><b>Broil the Crab Cakes:</b></h2>
        <div class="well well-lg">
            <p>Slip them under a preheated broiler until nicely browned, turning to cook evenly, about 4 to 5 minutes on each side.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="bs-callout bs-callout-success">
        <h2><b>Saute:</b></h2>
        <div class="well well-lg">
            <p>Heat a small amount of butter or olive oil in a skillet and saute the cakes, turning several times,
                until golden brown or about 8 minutes total cooking time</p>
            <p>Serve at once with tartar sauce, mustard, or cocktail sauce on the side.</p>
            <p><b>Serves 6 people</b></p>
        </div>
    </div>
</div>
</body>
</html>