<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/image/bootStrap.css"/>
</head>

<body>
<div class="container" align="center">
    <div class="jumbotron">
        <img src="../static/image/images.jpg" class="img-rounded" alt="Cinque Terre" width="800" height="400" alig="center"/>
        <h1 align="center"><b>Welcome to Crab Cake Recipe</b></h1>
    </div>
</div>
<div class="container">
    <div class="bs-callout bs-callout-success">

        <table class="table table-striped">
            <caption> <h2><b>Ingredients</b></h2></caption>
                <thead>
                <tr>
                    <th>#</th>
                    <th>Ingredient Quntity</th>
                    <th>Description</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>1-2 inch</td>
                    <td> A piece of fresh ginger root, minced. Adjust this to taste. I use 2 inches as I prefer a stronger ginger taste.</td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>1/2 cup</td>
                    <td>Cup of organic sugar or rapadura sugar. if using plain sugar, add 1 tablespoon molasses for flavor and minerals.</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>1/2</td>
                    <td>Cup fresh lemon or lime juice</td>


                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>1/2 tsp</td>
                    <td>sea salt or himalayan salt</td>

                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>8 cups </td>
                    <td>filtered (chlorine free) water (Here is the water filter we use)</td>

                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>1/2 cup</td>
                    <td> homemade ginger bug (or can use 1/4 cup whey for a faster recipe though the flavor won&#39;t be quite as good. Here is a tutorial for how to make whey)</td>
                </tr>

                </tbody>
        </table>

    </div>
</div>
<div class="container">
    <div class="bs-callout bs-callout-success">
        <h2><b>Directions:</b></h2>

        <div class="well well-lg">
            <p>Place the ginger, sugar, and 1/2 cup of the water into a 2-quart saucepan and set over medium-high heat. Stir until the sugar has dissolved.
                Remove from the heat, cover and allow to steep for 1 hour.
                Pour the syrup through a fine mesh strainer set over a bowl, pressing down to get all of the juice out of the mixture.
                Chill quickly by placing over and ice bath and stirring or set in the refrigerator,
                uncovered, until at least room temperature, 68 to 72 degrees F.
            </p>

        </div>
    </div>
</div>
</body>
</html>